[2019-03-20 10:26] JonasJurczok opened #1 "Make PR title/body customisable"
Hi,
I really like this action and learned a lot from it.

What prevents me from using it is that you cannot overwrite the PR title/body.

Unfortunately I don't have the time right now to create a PR myself.

[2019-03-20 13:30] vsoch commented on #1
hey no worries, and glad to hear that you like it! I’ll see if I can make some time to tweak it.

[2019-03-20 13:41] JonasJurczok commented on #1
Awesome thanks :)

[2019-03-20 14:01] vsoch opened #2 "Add "maintainer_can_modify" exposure"
default should be false.

[2019-03-20 14:07] vsoch commented on #1
hey @JonasJurczok ! I just opened a PR here  -> https://github.com/vsoch/pull-request-action/pull/3 would you care to review? If it looks good I can merge and then you can test in the wild.

[2019-03-21 15:25] vsoch commented on #1
Issue resolved yesterday with #3 closing.

[2019-03-21 15:25] #1 closed

[2019-05-17 21:31] bencooper222 opened #4 "Open draft PR instead of normal one based on env var"
Pretty self-explanatory. I'm willing to work on this if I get indication it'll get merged.

[2019-05-17 21:33] vsoch commented on #4
Definitely! I remember when they [announced](https://github.blog/2019-02-14-introducing-draft-pull-requests/) this, but I never gave it a try. I think this would be a great addition here - go for it!

[2019-05-18 00:33] #4 closed

[2019-05-20 22:55] bencooper222 opened #6 "Pull request title is always "is""
No matter if I set the PR title myself or let it be the default (which should be the update container string), the title is always "is".

[2019-05-20 22:58] bencooper222 opened #7 "PR body is blank"
Currently, body isn't included in the stuff that gets POSTed to the GitHub API. Even if we fix it, I have a similar issue to the last error where only the first word in the body is sent. I think the solution to this issue or #6 is to either use jq (full disclosure: this is based on one [google search](https://stackoverflow.com/questions/43373176/store-json-directly-in-bash-script-with-variables))

[2019-05-20 23:11] vsoch commented on #7
How would jq help? It's meant to parse json output, not post.

I've successfully used [python](https://github.com/vsoch/confucious-actions/blob/master/pull_request_fail/post_message.py) to read in a file and then send with requests, this might be a more reasonable idea so the user doesn't need to think about how to escape the envar. We could change the post to be done in a similar way, would that

[2019-05-20 23:14] vsoch commented on #6
I think it's likely there are missing quotes, [the default](https://raw.githubusercontent.com/singularityhub/registry-org/master/.github/main.workflow) does work, and see the pull requests [here](https://github.com/singularityhub/registry-org/pulls?q=is%3Apr+is%3Aclosed). Could you share your workflow file?

[2019-05-20 23:18] vsoch commented on #6
I just added quotes, could you look in your action and see what it's echoing for the data? Should coincide with this line:

[code]

[2019-05-20 23:23] bencooper222 commented on #7
My impression was jq could help compose json - looks like I was wrong.

I think that would work? I'm not really an expert on shell files but that sounds reasonable.

[2019-05-20 23:25] vsoch commented on #7
I won't be able to take a look until tomorrow, but in the meantime could you please share your main.workflow and the output from the log in your Google action? I will need it to debug further.

[2019-05-21 05:17] bencooper222 commented on #7
https://github.com/VandyHacks/fisherman/runs/132861567

It's all in that repo. Note that I slightly altered the version of the action that that repo runs: https://github.com/bencooper222/pull-request-action/commit/72248aa34f85ae3b74f1862fb5811cb8d87cfb62

[2019-05-21 09:09] vsoch commented on #7
All fixed :) See the PR here https://github.com/vsoch/pull-request-action-test/pull/3 and the associated workflow for that repo:

[code]
The body was missing from the data, and quotes fixed the missing title, etc.

[2019-05-21 09:10] vsoch commented on #6
See https://github.com/vsoch/pull-request-action/issues/7, this has been fixed.

[2019-05-22 22:03] bencooper222 commented on #7
Thanks!

[2019-05-22 22:03] #7 closed

[2019-05-22 22:03] #6 closed

[2019-08-23 15:04] vsoch opened #9 "Check for pull request might use grep"
The current implementation checks for an error code, but noted in https://github.com/vsoch/pull-request-action/pull/8#issuecomment-524256043 the error code will still be 0 when a message is returned that the request already exists. A better strategy would be to grep the message (or something similar) to see that it already exists.

[2019-08-23 15:21] chancancode commented on #9
To clarify, I don’t really know what the curl exit code is when the server returns a failure, so someone should double check. I was just saying that, as a whole, our bash function and bash script seems to be return cleanly so GittHub assumed it passed when it didn’t.

[2019-10-18 18:05] bfelbo opened #10 "Example for making this work with new yaml syntax"
Hi. This action used to work fine before Github migrated to the new yaml syntax. Do you have an example of how to get it to work?

This is what I tried (inside `.github/workflows/auto-pull-request.yml`):
[code]

However, the action fails with:
[code]

[2019-10-18 19:14] vsoch commented on #10
Oh vey! Yes indeed it's different and I haven't tested this yet. I can't work on this today, but I can possibly give it a look over the weekend, if that's okay with you!

And if you learn more before that, please let me know that too!

[2019-10-19 13:32] vsoch commented on #10
Got it working! Will post an update here in a few minutes.

[2019-10-19 13:37] vsoch commented on #10
hey @bfelbo ! I just updated the README with a working example, and the PR that it opened in the corresponding registry-org repository is also linked there. I'm going to close the issue, please poke again if you run into any trouble.

[2019-10-19 13:37] #10 closed

[2019-10-21 00:01] bfelbo commented on #10
Sweet, thanks @vsoch!

[2020-02-12 13:30] mzahlan opened #18 "issue"
what is this line uses: vsoch/pull-request-action@master

what should i put here please help

[2020-02-12 17:56] vsoch commented on #18
That line is in reference to using the action here. If you look at the [example in the README](https://github.com/vsoch/pull-request-action) you can start with that and modify. If you aren't familiar with GitHub actions, you should probably [read about them first](https://help.github.com/en/actions).

[2020-02-26 09:14] satishjuvo88 opened #19 "Add support for assigning reviewers"
Currently, my use case is to create automated PRs and set the reviewers. However, I wish that there is someway to retrieve the title and message as how github does when we open a PR. Title is the title of the first commit and message is the message of the first commit.

[2020-02-26 17:50] vsoch commented on #19
So you are interested in having a variable for the commit message? Note that commits don't really have a title, it would just be the first line of the commit message (and if I am wrong / misunderstand please show me an example so I know what you mean!)

[2020-02-26 23:25] vsoch commented on #18
No follow up, closing issue.

[2020-02-26 23:25] #18 closed

[2020-03-02 04:08] satishjuvo88 commented on #19
you are correct, it is the first line of the commit message that im hoping to use as the title. I always use the first line to automatically make the title when i manually raise the PR such that I do not have to manually type the title.

[2020-03-02 05:01] vsoch commented on #19
If you want to set the title, then just set:

[code]
and see the README for other variables.

[2020-03-02 08:27] satishjuvo88 commented on #19
How do i make the title dynamic based on each PR's commit's last message?

currently if i entered

All PR will have 'test title' as the PR title, but i want the title to be pulled from the commit first line automatically and dynamically

[2020-03-02 10:38] vsoch commented on #19
You would run some pipeline step before it in your workflow and then set it as an environment variable to make available for the next step.

[2020-03-02 10:50] vsoch commented on #19
Here is how you do that: https://help.github.com/en/actions/reference/development-tools-for-github-actions#set-an-environment-variable-set-env

[2020-03-17 15:36] sgnn7 opened #20 "Action is a noop (and no errors) when trigger is `release: [published]`"
Currently if the trigger is a `release: [published]`, the [`BRANCH` variable](https://github.com/vsoch/pull-request-action/blob/e54bcbb815225f58f7c672a1a2eb065771532fc6/pull-request.sh#L109-L112) results in value of `null` and as such makes the action act as a `noop`. This also creates no errors in the run.

<img width="1080" alt="Screen Shot 2020-03-17 at 10 32 53" src="https://user-images.github

[2020-03-17 15:39] vsoch commented on #20
What would be the intended outcome for release, publish? There is no branch to publish to (because it' a release) so what would be the expected branch to "publish" to, and how would you see best handling this edge case? Happy to fix this up after some discussion, going to be afk for a bit but back after that so please talk your time.

[2020-03-17 15:52] sgnn7 commented on #20
@vsoch

So the workflow that we're trying to do is this (I bolded the part that is relevant here):
- Release is published in the UI
- Action triggers:
  - Runs some tests (fake tests for now)
  - If tests pass:
     - Commit a new release of a file in `./releases/suite_<version>.yml` by copying `./suite.yml` there
     - Push that to a new branch `suite_<version>` (master is protected so we can't

[2020-03-17 15:56] sgnn7 commented on #20
For the edge-case handling, I don't know the codebase well but I'll take a look. I'm wondering if having a way just to specify a source branch (not a matcher) that bypasses the later checking logic can be enough.

[2020-03-17 16:04] sgnn7 commented on #20
@vsoch This seems reasonable to me but I don't have a good way to test it other than my current use case: https://github.com/vsoch/pull-request-action/pull/21. Let me know what you think.

[2020-03-17 16:17] vsoch commented on #20
A few quick questions! First - is `/releases/suite_<version>.yml` created and pushed by a human or another action? If it's pushed by an action and in the workflows folder (and thus considered a workflow) actions aren't allowed to update this folder.

Second - is this logic all in the same workflow file? The reason is because actions cannot trigger other actions.

If a fix like the one you opened f

[2020-03-17 16:22] sgnn7 commented on #20
This is done in the same action (you can check [here](https://github.com/conjurinc/playroom/blob/df256bb8bda32ff88c87a6bfc78ba452d42d1c8c/.github/workflows/update-suite-release-pr.yml)). The release folder is not the GH release but a folder in the repo itself.

Yes

Give me an hour or two to make sure the patch works for my use case but that will be enough to get us going. Thanks!

[2020-03-17 16:51] vsoch commented on #20
here you are @sgnn7 ! I integrated your commit as well, and wrote a clear description for how you can use (and set) the variable in the readme. Do you want to give it a try and give me feedback? https://github.com/vsoch/pull-request-action/pull/22

[2020-03-17 16:53] sgnn7 commented on #20
Sure!

[2020-03-17 17:37] #20 closed

[2020-03-18 04:04] satishjuvo88 commented on #19
@vsoch just wanted to share that i eventually got the "github.event.head_commit.message" and split it with the seperator being '/n' and i got the PR Title as per when manually opening a PR :)

[2020-03-18 04:06] vsoch commented on #19
Oh interesting, so you wanted to get the commit message from the last commit already associated with the branch? Sorry I misunderstood, glad that you figured it out and that is for sharing the trick!

[2020-03-18 04:25] satishjuvo88 commented on #19
Actually, I am looking at the first commit's message.

Yes, my objective when i set out to use actions was to automate the whole process of opening a Pr when we push a branch to remote. So it needs to be exactly how i would open a PR when i click on the button on the webpage to open a PR and creating it.

Also, i had another question of whether we can assign teams to review using your actions?

[2020-03-18 04:41] vsoch commented on #19
There was another request to assign reviewers, but it wasn’t integrated. Would you be interested in this feature, and if so, would you be willing to test a PR branch? If so, I can make some time to work on it this week.

[2020-03-18 05:00] satishjuvo88 commented on #19
I would be delighted to help. i assume that to test a PR branch i just switch

to

right?

[2020-03-18 17:10] vsoch commented on #19
Yes, you got the idea! I have some triage (higher up in the list) things I need to work on, but I can definitely get this done for you within likely the week! Let's open the issue again and rename to be appropriate for this request.

[2020-03-18 21:53] vsoch commented on #19
okay here you go! I created an example config in the description here to get you started. Please test and let me know how it goes!

https://github.com/vsoch/pull-request-action/pull/23

[2020-03-19 11:25] satishjuvo88 commented on #19
Great, i will check it out.

[2020-03-23 11:01] satishjuvo88 commented on #19
hi, can i check if this will add assignee or reviewers? Also, does this include Team reviewers?

[2020-03-23 17:25] #19 closed

[2020-03-23 17:28] vsoch commented on #2
This is done.

[2020-03-23 17:28] #2 closed

[2020-03-23 17:30] vsoch commented on #19
@satishjuvo88 I'm going to open a new issue to discuss this.

[2020-03-23 17:33] vsoch opened #25 "Allow for assigning reviewers (individuals and teams)"
Per discussion in #23 and #19 we would want to add integration with this API endpoint https://developer.github.com/v3/pulls/review_requests/ to either assign an individual or team as reviewer. @satishjuvo88 if I can make some time to implement this, would you again be able to test?

[2020-03-23 19:45] vsoch commented on #25
All set, please test / review https://github.com/vsoch/pull-request-action/pull/26.

[2020-03-24 06:21] satishjuvo88 commented on #25
@vsoch i'll do it now thanks

[2020-03-24 06:37] satishjuvo88 commented on #25
It doesnt work for me, not sure if im doing something wrong.

          PULL_REQUEST_TEAM_REVIEWERS: 'juvoinc/webteam'

[2020-03-24 10:45] vsoch commented on #25
Can you share the print output in your action?

[2020-03-25 08:29] satishjuvo88 commented on #25
"href": "https://api.github.com/repos/***inc/***-admin-panels/statuses/9aa41cc528ce13eb4c920b1a17d079471b67cb5b"
    }
  },
  "author_association": "NONE",
  "merged": false,
  "mergeable": null,
  "rebaseable": null,
  "mergeable_state": "unknown",
  "merged_by": null,
  "comments": 0,
  "review_comments": 0,
  "maintainer_can_modify": false,
  "commits": 5,
  "additions": 4,
  "deletions": 2,

[2020-03-25 13:36] vsoch commented on #25
The names of the team I don’t think should have a slash. Why did you include the slash? Can you show me a link to the team?

[2020-03-25 15:37] vsoch commented on #25
hey @satishjuvo88 just to follow up - you don't need to specify the organization (I noticed that it's an org here https://github.com/juvoinc/) with the team, it's implied that the team being assigned to the PR needs to be in the same organization as the repository. I've tested this locally so I'm going to merge and then release, and please re-open an issue if you still have an issue after removing

[2020-03-25 15:38] #25 closed

[2020-03-27 14:34] satishjuvo88 opened #29 "Team Reviewers doesnt work"
As per your advice, i removed the org name and the '/ and tried and also individual reviewers also dont work.

Found reviewers: "akaroth" and team reviewers: "webteam"
{"reviewers":["akaroth"], "team_reviewers":["webteam"]}
Enter host password for user 'satish***88':
{
  "message": "Validation Failed",
  "errors": [
    "Could not resolve to a node with the global id of 'MDQ6VGVhbTMyNzAxOTA='."

[2020-03-27 14:45] vsoch commented on #29
This looks like a permissions issue https://github.com/probot/probot/issues/981 so it’s either a permission missing or the team is private.

[2020-04-05 00:13] jsquyres opened #30 "Actions for an opened PR don't seem to execute"
Greetings, and thanks for pull-request-action!

In my project, we write / maintain Linux man pages in Markdown files.  When we merge pull requests containing changes to those Markdown files, an automated process runs `pandoc` on them to generate corresponding nroff man pages, and then opens a new pull request to commit those generated nroff pages.  Once the CI completes, the PR is automatically me

[2020-04-05 00:27] vsoch commented on #30
It's a hard rule that actions cannot trigger other actions. So if an action creates a pull request, other actions cannot be triggered from it. What I usually try to do is represent (to the greatest extent possible) all steps of the workflow in one file, and avoid actions trying to trigger other actions (which never will work).

[2020-04-05 00:28] vsoch commented on #30
See https://github.community/t5/GitHub-Actions/Triggering-a-new-workflow-from-another-workflow/td-p/31676

[2020-04-05 12:43] jsquyres commented on #30
@vsoch Ah, that explains it.  Many thanks for the pointer!

FWIW: I might have to go the bot user / custom token route, because our CI can take upwards of an hour -- far too long for a single Action job to wait to merge the PR.

[2020-04-05 12:43] #30 closed

[2020-04-05 12:45] vsoch commented on #30
Good luck! I also ran into this issue when I started using actions and was fairly bummed :) if you need layers of CI you could try interacting with Travis or Circle via API from an action, or triggering them separately instead... I don’t think they can know if a PR is opened by a bot. So either of those could work!

[2020-04-08 15:34] Trancever opened #31 "Create a PR from a branch that was just merged to master"
Hey. Is it possible to use this action to open a PR from a branch "A" to branch "B" when branch "A" is merged to master?

That's what I have right now:

[code]

It opens a PR from "gh-action-test" to "4.0" whenever something is merged to "gh-action-test". I want it to open a PR from "B" to "4.0" whenever "B" is merged to "gh-action-test". Unfortunately, I have no idea how could I implement it.

[2020-04-08 16:11] vsoch commented on #31
If you want a GitHub Action to trigger another action, this isn’t allowed per GitHub rules.

If you want a different (separate) workflow, just make another similar file that is for B and GitHub-branch-test.

[2020-04-16 16:40] dogmatic69 commented on #30
I've created a hack that closes and reopens a PR which triggers the CI to run. Using a PAT for creating PRs is not a good idea with a user token as that user will not be able to approve the PR nor make any change requests.

With my hack you can use the github token to create the PR and a PAT token to do the close/open dance.

https://github.com/dogmatic69/actions/blob/master/.github/workflows/auto

[2020-04-16 17:23] vsoch commented on #30
How should we address this?

[2020-04-17 22:19] dogmatic69 commented on #30
Don't think you can do anything about it for now. The problem is not that actions cant trigger other actions, instead the GITHUB_TOKEN cant be used to trigger actions. The workaround I've posted above will allow this to work until github removes this limitation.

For reference this is possible on gitlab. Perhaps when github sees workarounds like this they will remove the limitation. (I guess they

[2020-04-21 17:48] brandon-kyle-bailey opened #32 "Environment Variable Inputs bug"
Hi,

Have an issue that im not sure how to approach for a solution.

problem:
- environment variable inputs either not being set, or being set incorrectly on PR creation.

example:
- [Example PR with problem](https://github.com/brandon-kyle-bailey/pandemic-observer-backend/pull/55)

code:
[code]

- the title variable seems to pick up extra information in the commit message.
- the assignees variabl

[2020-04-21 18:15] vsoch commented on #32
hey @brandon-kyle-bailey - I'd be happy to help you with this! Let's walk through each component one step at a time.

 - version: looks like you are using 1.0.5, which is the latest that supports assignees, so we are good there

We can look at output for the action to see what variables it is seeing:

![image](https://user-images.githubusercontent.com/814322/79898448-84077300-83c8-11ea-841d-1d6b99

[2020-04-21 18:16] vsoch commented on #32
If you are setting your title to be the commit message:

[code]
I don't think this should be a surprise. If you want to cut / truncate or otherwise edit it, you would need to insert another run statement before the action to set that environment variable, and then set it again in the run for the next action (changed).

[2020-04-21 19:56] brandon-kyle-bailey commented on #32
Hey @vsoch ,

Thanks for getting back to me. I'll run another test with your advice and get back to you.

Regarding the ASSIGNEES:

If i point you to this action : [this action](https://github.com/brandon-kyle-bailey/pandemic-observer-backend/runs/603780256?check_suite_focus=true)

You can see:
[code]

In a previous test of this action file, i had the following code:
[code]

Which is a space separ

[2020-04-21 20:01] vsoch commented on #32
Thanks for linking me to the action! That example that you linked this time around is correct usage. I see the issue - the dashes are not being properly parsed:

![image](https://user-images.githubusercontent.com/814322/79908483-8d004080-83d8-11ea-8d14-cf777edea081.png)

I'll see if I can reproduce locally and update the action to address. Stay tuned!

[2020-04-21 20:05] brandon-kyle-bailey commented on #32
Wow, i really should start wearing my glasses when i read logs lol... Thanks for looking in to that. in the mean time, i can attempt to escape the dashes and see if that works!

[2020-04-21 20:26] brandon-kyle-bailey commented on #32
Yep @vsoch , no luck with escaping special characters. I guess i found an annoying edge case?

[2020-04-21 20:28] vsoch commented on #32
You found a very interesting case actually! I came down to a difference in the sed that is on my local machine vs. GitHub actions, and the fix was to parse it another way. I've opened a PR with branch `fix/assignee-reviewer-parsing` to test this change, linked above, #33, would you care to update your current testing PR with that branch (e.g., vsoch/pull-request-action@fix/assignee-reviewer-parsin

[2020-04-21 20:46] brandon-kyle-bailey commented on #32
Hey @vsoch sure thing.

- Test action can be found [here](https://github.com/brandon-kyle-bailey/pandemic-observer-backend/runs/606511983?check_suite_focus=true)
- Test PR can be found [here](https://github.com/brandon-kyle-bailey/pandemic-observer-backend/pull/59)

Seems to now be behaving as expected!

[2020-04-21 20:50] vsoch commented on #32
Awesome! So happy to hear! I'll get the PR merged and a release drafted asap for you to use! I think this will be 1.0.6. Be back soon!

[2020-04-21 20:51] brandon-kyle-bailey commented on #32
Amazing, you're a saint. Thanks for the swift resolution !

[2020-04-21 20:52] #32 closed

[2020-04-21 20:52] vsoch commented on #32
okay all set! The release is out https://github.com/vsoch/pull-request-action/releases/tag/1.0.6 so you should get the same functionality with 1.0.6. I'm also going to be deleting the PR branch so be sure to update your test with the release version.

[2020-04-21 20:56] vsoch commented on #32
And you are so sweet! Always happy to help :) Happy pull requesting!

[2020-04-28 22:35] #9 closed

[2020-04-29 06:05] Benoss opened #34 "Update pull request"
I see that in your code you return if the pull request already exists.

My use case is to open and a pull request from master to branch prod and I would like to auto update the description of this pull request with the list of pull requests that have been merge into master since the last merge of master into prod'
God this looks complicated said like this.

Workflow
Merge pull request 13 from feat

[2020-04-29 10:23] vsoch commented on #34
hey @Benoss - if you open a PR and push any changes to that branch, that alone will update the PR. I would suggest taking an approach that is less hard coding in some specific action for your use case, and more putting together steps like modular pieces. More specifically, given some variable set by pull request action, you instead comment again on the PR. E.g., [modify this recipe](https://github

[2020-04-29 19:24] Benoss commented on #34
Yeah I realise that's a bit complex, first step is probably just a variable to allow updates :)

[2020-04-29 20:04] vsoch commented on #34
Sorry I think you are misunderstanding - given that a PR is already open, if you just push again to that branch, the PR is updated. There is no special action needed on the part of the action here if the PR is already open :) If you, however, want to post an additional comment, I'd suggest setting up a recipe as I suggested, printing out those output variables, and then if something is missing we

[2020-04-30 01:22] Benoss commented on #34
The other thing that would be good is to be able to set the the author of the PR to the person that pushed. Also be able to use an existing pull request template in the repo if exists

[2020-04-30 01:26] vsoch commented on #34
The author is likely available as a variable in the GitHub payload, and environment inputs already are defined to add assignees, reviewers, or team reviewers, so you should already be able to do this. If you need a custom message or title, just set those as envars too. I’m not sure anymore what you are asking for development or feature or help wise, so I’m going to close the issue. If/when you imp

[2020-04-30 01:26] #34 closed

[2020-05-22 19:25] ALefaux opened #35 "Cannot index string with string "head""
Hi!
I started using your actions two weeks ago and all works fine.
I modified some code for my PR and the actions doesn't work with this error :
[code]

[2020-05-22 20:33] vsoch commented on #35
Could you please share the "code you modified for your PR" and enough to reproduce your error?

[2020-05-22 21:06] ALefaux commented on #35
[code]

[2020-05-22 21:17] vsoch commented on #35
Thank you! Could you please link me to the action, where it ran, so I can take a look?

[2020-05-22 21:27] ALefaux commented on #35
Maybe it's my repo the problem ...
[https://github.com/ALefaux/AND_Pollochon/actions/runs/112728233](Action)

[2020-05-22 21:42] vsoch commented on #35
I'm seeing a lot of random errors (500 and otherwise) from GitHub today, and also problems with my own actions, so if it's okay with you I think we should wait for the dust to settle.

[2020-05-23 20:23] ALefaux commented on #35
You are right. It works today. Sorry to have disturbed you.

[2020-05-23 20:23] #35 closed

[2020-05-23 21:02] vsoch commented on #35
Oh gosh, it's really no worries! If there is a bug, it's the right thing to do to report it. I'm glad that you were proactive in doing this, it's not your fault that GitHub was having issues.

[2020-06-02 15:50] #29 closed

[2020-06-09 08:55] #31 closed

[2020-07-10 13:32] EvgenyOrekhov opened #36 "Add ability to set pull request author to the person who pushed"
PRs created by pull-request-action set PR author to @github-actions bot, which messes up our stats in Code Climate Velocity.

We would like the PR author to be the person who pushed the branch.

I tried to do this:

[code]

but it didn't work.

[2020-07-10 16:29] vsoch commented on #36
Can you show me a link to a test run so I can see what you are trying to do?

[2020-07-10 17:02] EvgenyOrekhov commented on #36
It's in a private repo.

Here is our workflow:

[code]

The problem is with the author of PRs:

![image](https://user-images.githubusercontent.com/8045060/87179809-04fb4a00-c2e8-11ea-934c-00cb6a246a95.png)

We want it to be the person who pushed the branch, not github-actions bot.

[2020-07-10 17:20] vsoch commented on #36
Can you look in the action output where it starts the container and show me what the GITHUB_ACTOR variable is at the onset of the run? It should be the line where they use docker run and bind to the GITHUB_WORKSPACE, etc.

[2020-07-10 17:22] vsoch commented on #36
You might not actually be able to edit / control this - there _are_ cases when the GitHub actor is the person that initiated the workflow, but for an action working on behalf of a user, if you were allowed to just specify anyone that you wanted, that would be a huge security issue. So it might be that the GitHub bot is the default for these cases. If you tried setting it to something else and it d

[2020-07-10 17:51] EvgenyOrekhov commented on #36
Here is the relevant part of the log:

[code]

I can see that `GITHUB_ACTOR` is set to my username, as expected, but at the end of the log it still says `"login": "github-actions[bot]"`. So the variable is not used. And BTW, I'm not sure if it's even supposed to work, it was just my guess that it should.

For example, this action allows you to specify commiter and author: https://github.com/peter-

[2020-07-10 17:54] vsoch commented on #36
okay I just tested this for you, and it seems to work https://github.com/vsoch/pull-request-action-example/pull/16. So I'll open a PR with a branch for you to test. My guess is that it will work as long as the token credential is matched to the username, so you'll need to test it with several different use cases.

[2020-07-10 17:58] vsoch commented on #36
Please test this branch!

https://github.com/vsoch/pull-request-action/pull/37

Also, could you try putting a user that absolutely should not have permission to be the actor? We need to make sure that won't be allowed.

[2020-07-10 18:06] EvgenyOrekhov commented on #36
I changed my workflow:

[code]

Removed the old PR and the old branch, pushed the branch again, and it didn't help. The new PR was created but it still says "created by github-actions".

[2020-07-10 18:08] vsoch commented on #36
I think it might be related to using github.event.pusher.name, because I just tested it with a hard coded username and it worked okay.

[2020-07-10 18:12] EvgenyOrekhov commented on #36
Well, the log says

[code]

[2020-07-10 18:13] EvgenyOrekhov commented on #36
I just tried hard-coding my username, the result is the same, it still says "github-actions".

[2020-07-10 18:18] EvgenyOrekhov commented on #36
Maybe for some reason it doesn't work for private repos? Man, that would be a bummer.

[2020-07-10 18:19] vsoch commented on #36
You're right - there was a bug (it was doing the opposite when the variable is set) can you try again?

[2020-07-10 18:28] EvgenyOrekhov commented on #36
Still doesn't work even with hard-coded name :(

[2020-07-10 18:34] EvgenyOrekhov commented on #36
BTW, if you look at my log output above, you can see `curl --user EvgenyOrekhov`, that means the `GITHUB_ACTOR` variable was working correctly with pull-request-action@1.0.6. It just didn't have any effect on the PR author, just like now it doesn't have any effect with your fix.

[2020-07-10 18:51] EvgenyOrekhov commented on #36
It looks like I was mistaken. I looked closely at that action and the author and commiter are referring to Git terms, not PR terms.

I also looked at this one https://github.com/technote-space/assign-author, and it also misleading, it works with PR **assignee**, not **author**.

I guess it's impossible to set PR author from an action.

[2020-07-10 19:09] EvgenyOrekhov commented on #36
And there is a different, much, much bigger problem that is a blocker for us: other jobs from other workflows don't get executed for the PRs created by pull-request-action. They just say "Waiting for the check to start" forever. I guess we'll have to educate our developers to create PRs manually the first time they push a new branch.

Thanks for your time and for quick responses, great support. Fe

[2020-07-10 19:22] vsoch commented on #36
I'm actually glad that forcing the GitHub actor to be someone else doesn't work - I consider this a possible case where someone could act maliciously. If you can just hard code the author, this means you could say someone authored something that they did not, given that the permission is there in the token. So I don't think this is a bug, this is expected behavior.

As for assignee, we have suppor

[2020-07-10 19:22] #36 closed

[2020-08-02 15:20] namoscato commented on #36
I stumbled across this issue and thought I could add some clarity.

This is certainly the default behavior of the repository's `GITHUB_TOKEN`, but as described in [Triggering new workflows using a personal access token](https://docs.github.com/en/actions/reference/events-that-trigger-workflows#triggering-new-workflows-using-a-personal-access-token), you can perform tasks with a personal access tok

[2020-08-12 17:52] edwarnicke opened #40 "PULL_REQUEST_BODY does not appear to be usable for multi-line body"
First, thank you for the action, its super super useful 😄

When we attempt to use [here](https://github.com/networkservicemesh/sdk-vppagent/runs/977050107?check_suite_focus=true#step:4:2) to setup a PULL_REQUEST_BODY to carry the git log -1 for the commit for which
we are generating the PR.

The resulting PR is only using the first line of the body:

https://github.com/networkservicemesh/sdk-vppag

[2020-08-12 17:54] edwarnicke commented on #40
OK... looking [here](https://github.com/networkservicemesh/sdk-vppagent/runs/977050107?check_suite_focus=true#step:5:3) it appears that the issue may be in how the ::set-env is setting things

[2020-08-12 17:55] vsoch commented on #40
I'd first check that after you set the environment variable in the action, when you echo it again in a following step it still is the entire log.

[2020-08-12 17:58] vsoch commented on #40
Multiple line strings can definitely lead to issues for envars, because they will truncate after the newline generally.  One thing we could try (that still likely would have issues when we add the content to the POST request) is to allow setting the body based on cat of a file (that if defined and it exists here https://github.com/vsoch/pull-request-action/blob/master/pull-request.sh#L250) would t

[2020-08-12 18:07] edwarnicke commented on #40
@vsoch Thanks for the swift reply... and I feel your pain on string escaping :)

To fill in a bit more context, we are doing go development with multiple repos.  Because go will let your go.mod depend on a particular commit, when an upstream repo (A) is updated we push to a branch on the downstream repo (B) with a commit message that reflects what happened upstream.  From there we use your action

[2020-08-12 18:18] vsoch commented on #40
I'm definitely open to a solution if you can figure something out and open a PR.

[2020-08-12 18:27] edwarnicke commented on #40
Cool :)

[2020-09-09 10:36] AnandChowdhary opened #41 "Failing action status when all looks good"
Hi, I have this response (in a private repository), where the pull request is successfully created, but the status check is `error`:

[code]

<details>
  <summary>github response</summary>
<pre>{
  "url": "https://api.github.com/repos/USERNAME/REPO/pulls/167",
  "id": 482735942,
  "node_id": "MDExOlB1bGxSZXF1ZXN0NDgyNzM1OTQy",
  "html_url": "https://github.com/USERNAME/REPO/pull/167",
  "diff_url"

[2020-09-09 10:39] vsoch commented on #41
Sorry what’s the issue? The PR is created and the response looks like I’d expect.

[2020-09-09 10:56] AnandChowdhary commented on #41
Yep, that's exactly right, everything works but the status check is failing:

![Screen Shot 2020-09-09 at 16 25 40](https://user-images.githubusercontent.com/2841780/92590027-201f1180-f2b9-11ea-986a-5a789769814d.png)

[2020-09-09 14:52] vsoch commented on #41
There must be another reason - can you share the complete log?

[2020-09-09 14:59] vsoch commented on #41
And please try the previous version - https://github.com/vsoch/pull-request-action/releases/tag/1.0.6. A contributor changed the exit code logic about a mo to ago and possibly screwed thongs up.

[2020-09-12 21:45] saitho commented on #41
I came across the same error with 1.0.6. Latest version 1.0.7 worked fine for me... :shrug:

[2020-09-12 21:56] vsoch commented on #41
So you are not able to reproduce 1.0.7 not working? We need some kind of direction to decide to go in - the messages here are conflicting and it’s not clear what action to take!

[2020-09-18 07:13] AnandChowdhary commented on #41
I'm on v1.0.7 with the following `.github/workflows/hotfix-pull-request.yml`:

[code]

<details><summary>Full raw logs:</summary>
<pre>
2020-09-18T07:06:35.9111045Z ##[section]Starting: Request a runner to run this job
2020-09-18T07:06:36.1616727Z Can't find any online and idle self-hosted runner in current repository that matches the required labels: 'ubuntu-latest'
2020-09-18T07:06:36.1616831Z C

[2020-09-18 10:53] vsoch commented on #41
It looks like this is a private repository - the pull request is opened but you are saying the exit code is non zero? Have you tried 1) for a public repository, and 2) without reviewer? It would be good to figure out where the exit code is turning to non zero and inspect that. For example, it looks like you are a collaborator on the repo - are you able to assign yourself to manually review?

[2020-09-18 10:58] vsoch commented on #41
It doesn't seem to be making it beyond here https://github.com/vsoch/pull-request-action/blob/master/pull-request.sh#L142. If you like, I can create a testing branch that doesn't silence the output there.

[2020-09-18 11:03] vsoch commented on #41
Here you go! Could you please test https://github.com/vsoch/pull-request-action/tree/test-pr-wrapper? That should give us more output about what is happening.

[2020-09-18 11:35] AnandChowdhary commented on #41
Okay, I've used the `test-pr-wrapper` branch in a public repository.

These are the logs: https://github.com/koj-co/template/runs/1133593292?check_suite_focus=true.

[2020-09-18 16:15] vsoch commented on #41
Hmm that seems to have us taken backwards! Did you try 1.0.7 in a public repository to rule out an issue between public and private?

[2020-09-18 17:44] AnandChowdhary commented on #41
Here you go! It seems like the problem is still there.

Full logs: https://github.com/koj-co/template/runs/1135167893?check_suite_focus=true

[2020-09-18 17:49] AnandChowdhary commented on #41
As a third example, I changed the branch `production` to `master`, still broken.

However, I see "hotfix-example-2" in line 26: https://github.com/koj-co/template/runs/1135185477?check_suite_focus=true#step:3:26, when this is creating a PR for "hotfix-example-4". Does this tell us anything about what could be wrong?

[2020-09-18 17:59] vsoch commented on #41
If you set the prefix to just `hotfix-` it's going to include any push to any branch that starts with that prefix. The issue doesn't seem to be opening the PR, but rather assigning reviewers. Have you tried removing the reviewer assignment just for a sanity check?

[2020-09-18 19:38] AnandChowdhary commented on #41
Yes, it's working without reviewer assignment: https://github.com/koj-co/template/runs/1135611371?check_suite_focus=true.

[2020-09-18 19:50] vsoch commented on #41
Ah, so this is good information! First let's confirm that you are able to manually assign a reviewer to a PR. Next, I've updated the testing branch to give a little more verbose output: https://github.com/vsoch/pull-request-action/commit/22860a09e5c90e99e4a2e051677ccacf4f6fecdd so let's try the action with the reviewer there as we did before!

[2020-09-18 19:54] AnandChowdhary commented on #41
Here's 22860a0: https://github.com/koj-co/template/runs/1135663923?check_suite_focus=true.

This is new:

[code]

Thanks for all your hard work!

[2020-09-18 20:10] vsoch commented on #41
Interesting! Let's grab all the input to the function and see if we can reproduce locally. I added a print statement https://github.com/vsoch/pull-request-action/commit/9952006dd8cd367e81ba61321ee1c49e58079e3e if you want to give it a re-run.

[2020-09-19 06:26] AnandChowdhary commented on #41
Here it is: https://github.com/koj-co/template/actions/runs/262292794

There seems to be no difference in the output, maybe it's not reaching `create_pull_request()` now?

[code]

[2020-09-19 17:59] vsoch commented on #41
There is one more line, actually! A print of all the arguments, which happens inside the function (so we know that it hits it)
[code]
So this is good because we know it does enter the function, and likely the current issue is with the update that I did to the curl_wrapper. Could you please re-run that job with the same branch? I updated the function and added some more verbosity earlier. https://g

[2020-09-20 18:00] AnandChowdhary commented on #41
Here you go! https://github.com/koj-co/template/actions/runs/263951457

[2020-09-20 18:17] vsoch commented on #41
Thank you! So the bug was something that I introduced by not piping the call into stderr, this call:

[code]
specifically RESPONSE included not just the response, but also a print of the command (and the invalid character at line 1 column 5 is in reference to here:

[code]
The space I believe. I've [updated the branch](https://github.com/vsoch/pull-request-action/commit/c42e789a09473b7df21370c63e5

[2020-09-21 10:32] AnandChowdhary commented on #41
No worries, I ran it here: https://github.com/koj-co/template/runs/1143456983?check_suite_focus=true. Interestingly, no failing check this time, and the PR is also correctly created (https://github.com/koj-co/template/pull/11) with me assigned as a reviewer.

[2020-09-21 15:21] vsoch commented on #41
Likely it means we fixed the bug! @saitho would you care to test the branch as well? We can do a release of it works better for you too.

[2020-09-21 19:22] saitho commented on #41
Works for me as well.

[2020-09-21 19:27] vsoch commented on #41
Released as 1.0.8. Thanks to you both!

[2020-09-24 10:18] AnandChowdhary commented on #41
Hate to do this to you again @vsoch, but I'm getting the same error with v1.0.8 again. 😢

Example run: https://github.com/koj-co/template/pull/16/checks?check_run_id=1159824991

[2020-09-24 11:03] vsoch commented on #41
Did you not report that the test-pr-wrapper branch worked? What has changed?

[2020-09-24 11:14] vsoch commented on #41
okay well let's test this out again! I'm really not happy with how this function that another user contributed doesn't seem to be working at all. Here is a branch to try first. https://github.com/vsoch/pull-request-action/tree/test-assignees

[2020-09-24 11:31] AnandChowdhary commented on #41
Yes, that branch was working perfectly. I just pushed a new branch today and not sure why I"m getting that error again.

Maybe it's easiest if I create a new testing repo where you can test. Let me get back to you with one!

[2020-09-24 11:39] AnandChowdhary commented on #41
This is the repo: https://github.com/AnandChowdhary/vsoch-pull-request-action-41, and I've also added you as a collaborator (you'll get an email).

Passing check using v1.0.8: https://github.com/AnandChowdhary/vsoch-pull-request-action-41/runs/1160148365?check_suite_focus=true, but the PR is not created:

[code]

[2020-09-24 14:36] vsoch commented on #41
Thank you! I'll get started on debugging this!

[2020-09-24 16:38] vsoch commented on #41
here is the issue:

[code]

[2020-09-24 16:48] AnandChowdhary commented on #41
Aaah, very interesting! Do you think it makes sense to add a condition that if the branch author is the reviewer, skip adding the reviewer? I'm sure it would happen frequency that a CODEOWNER is also the committer.

[2020-09-24 16:51] vsoch commented on #41
I think we probably just want better error output, I've re-written the script in Python to make it easier too, am testing now.

[2020-09-24 17:59] #41 closed

[2020-09-25 14:28] AnandChowdhary opened #44 "Failing without FAIL_ON_ERROR on PR 404"
Perhaps I'm wrong, but I'm assuming having an unset `FAIL_ON_ERROR` means that it shouldn't fail, right?

Unfortunately I haven't been able to reproduce this in the testing repo (maybe it happened because this is a private repo), but I got this error:

![Screen Shot 2020-09-25 at 19 50 05](https://user-images.githubusercontent.com/2841780/94278349-5373c880-ff68-11ea-9784-dc4e22882489.png)

[code]

[2020-09-25 16:16] vsoch commented on #44
`FAIL_ON_ERROR` set in the environment means that you will fail on error. In the above, it fails but doesn't exit because you do not have it set. The issue is a 404 error, so the branch or repository are not found. Why would you request a private repository that you don't have access to? That obviously wouldn't be allowed!

[2020-09-25 17:23] AnandChowdhary commented on #44
No, I'm requesting a private repository I do have access to. 😄

[2020-09-25 17:29] vsoch commented on #44
Does the branch and repository exist? If GitHub is telling you 404, not found, there is something that is either not found (incorrectly specified) or you don't have permission to access it. I don't think this is an issue with the pull request action because the call is done correctly, and it's just telling you based on the parameters what you want doesn't exist.

[2020-09-25 17:30] vsoch commented on #44
Are you sure your master branch is called master and not main?

[2020-09-25 19:28] cbruno10 opened #45 "New pull requests that can be created with v1.0.8 are not created with v1.0.9"
We recently switched our workflow to use the latest version, 1.0.9, for this action but noticed that the action wasn't creating the pull request for a branch that didn't have a pull request yet, even though the action itself was not failing.

Usage:
[code]

When looking in the workflow logs, we get the following output:
[code]

I can see that it reaches the `github pr response`, but finishes immed

[2020-09-25 19:30] cbruno10 commented on #45
Also, after getting the output above, we tested running this action with the same inputs, just pinning it to 1.0.8, and that run was able to successfully create a new PR for the branch, with log messages showing up for the groups `github pr response`, `github response`, and a closing success message of "Number opened for PR is 28811".

[2020-09-25 20:02] vsoch commented on #45
hey @cbruno10 ! The difference between 1.08 and 1.0.9 is a refactor from bash to python, namely because users were having issues with debugging and python can better show the logging. In the meantime, if there is a version that works for you, you should use that, and let's see if we can work together to debug the issues with 1.0.9. Could you please share with me the response to the initial query (

[2020-09-25 20:09] vsoch commented on #45
okay I've created an `update/python-client` branch that instead of printing the entire response, looks at the first head ref - which I think should emulate the previous bash, if you are able to test!

[2020-09-25 20:19] vsoch commented on #45
hey again! I've gone through testing of the branch, and it works as I'd expect now, if you'd like to test! The issue was just printing the entire response (for all branches) when we needed to search. I'm not sure if the GitHub API has changed, but it should have been the case that we didn't get back all PRs for the repo. It's not a big deal because we can just loop and look for the branch we want

[2020-09-25 21:49] cbruno10 commented on #45
Thank you for the quick response and testing @vsoch ! I should have a chance later today to test it out and I'll let you know the results.

[2020-09-25 22:03] vsoch commented on #45
Awesome! Thank you so much. I'm wanting to get the latest back up and working as expected, and really appreciate the help.

[2020-09-25 23:58] cbruno10 commented on #45
@vsoch I just ran the same workflow with the updated branch:
[code]

Unfortunately, the pull request was not created and the action did not fail, here are the logs:
[code]

This is also in a private repo, so apologies for not being able to link to the actual workflow run.

Please let me know if there's anything else you need from me.

[2020-09-26 00:07] vsoch commented on #45
I need some way to reproduce - the strange thing about the above is that it seems to just print the body, and then nothing else after that - it should be followed directly by the title, minimally. Let me put that print into it's own block and add more verbosity and you could be able to re-run (top right corner button). You should be able to do this now, these are the changes:

https://github.com/v

[2020-09-26 00:12] vsoch commented on #45
Oh I see another bug! GIve me a minute!

[2020-09-26 00:16] vsoch commented on #45
okay I made a few other updates! https://github.com/vsoch/pull-request-action/blob/update/python-client/pull-request.py The last detail that I think might be an issue is that we would need to provide a GitHub token possibly if the repository is private. Let's try again, and if the response returns 404 (or not successful code) we will add a variable to determine if it's private, and in this case, a

[2020-09-26 00:18] vsoch commented on #44
Ah I think I might know the issue! See the details here https://github.com/vsoch/pull-request-action/issues/45#issuecomment-699235843 what we can do is add an IS_PRIVATE variable that, if present, will add authentication headers to the request to get the repo (to see if the PR is open). I suspect that's why you are getting 404.

[2020-09-26 00:21] vsoch commented on #44
@AnandChowdhary could you please test the update/python-client branch - I added a check for 404 and then to do the response again with headers! https://github.com/vsoch/pull-request-action/commit/cd4e27d2e27b63ba63b8fd66ae9408124045c0bd

[2020-09-26 00:26] cbruno10 commented on #45
@vsoch Re-running the workflow created the PR as expected, thanks for the quick responses + fix for this!

[2020-09-26 00:28] vsoch commented on #45
Awesome! So I'll open a PR to put out a quick release. Did you run it after I had made the last update?

[2020-09-26 00:29] cbruno10 commented on #45
Yes, I believe so, I ran it about 10 minutes ago, so it should have had the latest updates in it.

[2020-09-26 00:35] vsoch commented on #44
https://github.com/vsoch/pull-request-action/releases/tag/1.0.10

[2020-09-26 00:36] vsoch commented on #45
Great! Here is the release https://github.com/vsoch/pull-request-action/releases/tag/1.0.10. Feel free to leave this open until you've given it a few more times to test (the previous branch doesn't exist anymore, but 1.0.10 has those changes).

[2020-09-26 00:39] cbruno10 commented on #45
I just tried the latest release and everything looks good. I'll close this issue, but raise another one if something else pops up. Thanks again for the quick help!

[2020-09-26 00:39] #45 closed

[2020-09-26 00:40] vsoch commented on #45
And thank you! Have a good weekend!

[2020-09-26 05:44] AnandChowdhary commented on #44
This is great, thanks so much!

[2020-09-26 05:44] #44 closed

[2020-09-26 12:45] AnandChowdhary opened #47 "Feature request: PR title variable, default PR title"
This is a feature request, not very high priority, and totally up to your discretion if you want to implement it. 👍

Currently, the default PR title is "Update from branch-name" where `branch-name` is the name of the branch.

**Feature request 1:** Support for having the variable `$BRANCH_NAME` in the PR title:

[code]

In the above example, `$BRANCH_NAME` will be automatically replaced with the n

[2020-09-26 15:51] vsoch commented on #47
hey @AnandChowdhary ! Some quick good news is that we don't need to hard code variables into other variables because you can easily do this with GitHub actions. For example:

For the above, you can just have a previous step that formats the branch name into whatever you like!

[code]

In the above, the branch for the action is set in the previous action from an envar that I've created. You can als

[2020-10-09 09:01] AnandChowdhary commented on #47
That makes a lot of sense, thanks! I think I should close this issue, because we can probably generate the unslugified PR title using bash string utilities itself in the previous step of the workflow. Maybe the easiest thing to do is later have an example in the README for people who want to use this PR title format. 😄

[2020-10-09 09:01] #47 closed

[2020-10-12 13:07] AnandChowdhary commented on #47
Seems like [set-env is being phased out](https://github.com/actions/toolkit/security/advisories/GHSA-mfwh-5m23-j46w), and it looks like the new way to do this is `echo "{name}={value}" >> $GITHUB_ENV` [Setting an environment variable](https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-commands-for-github-actions#setting-an-environment-variable). In case it helps anyone else

[2020-10-12 14:34] vsoch commented on #47
Thanks for the notice! I can create a PR with the updated way to specify environment variables if you'd care to review.

[2020-10-12 14:57] vsoch opened #49 "set-env is being deprecated"
See https://github.com/vsoch/pull-request-action/pull/48 for a potential fix. We can work on this when it's needed for some user.

[2020-10-12 14:59] vsoch commented on #47
https://github.com/vsoch/pull-request-action/pull/48

[2020-10-18 23:07] #40 closed

[2020-10-19 19:07] tscizzlebg opened #50 "Option to ignore the error specifically from the PR already existing"
Hi there! Title says it mostly, but to elaborate:

There is a way to not fail the action if an error occurs (`PASS_ON_ERROR`). However, the most common failed check I see with this action is that "Validation Failed" due to "A pull request already exists for [head branch]". And we don't really consider that an error. If the desired PR already exists, and will incorporate new changes pushed to the h

[2020-10-19 19:58] vsoch commented on #50
It's a great idea! Here is a branch to test. https://github.com/vsoch/pull-request-action/pull/51

[2020-10-19 21:28] tscizzlebg commented on #50
Do you know how I can use that branch's version to test it out?

My workflow rn has the line: `uses: vsoch/pull-request-action@1.0.6`. Perhaps I can change something there to point to a branch?

[2020-10-19 21:41] vsoch commented on #50
Yes that's exactly correct! You would change it to be the branch name.
[code]
And then the environment variable to set is `PASS_IF_EXISTS`

[2020-11-16 15:01] francoisaubert1 opened #54 "Enable author as assignee"
Hi there!
What would you think of adding a variable to add author as assignee. For instance ASSIGN_AUTHOR_AS_ASSIGNEE ?
Thank you for your work.

[2020-11-16 17:38] vsoch commented on #54
hey @francoisaubert1 ! Since we have a variable that can be set in the environment for an assignee, it would be relatively straight forward to add a step to your workflow to handle this logic. I think you could just make a step that sets `‘${{ github.actor }}` to be the `PULL_REQUEST_ASSIGNEES`. E.g., something like:

[code]

You could also explicitly set the variable in a previous step, if the ab

[2020-11-16 17:43] francoisaubert1 commented on #54
Indeed, works smoothly... Thank you 👍

[2020-11-16 17:43] #54 closed

[2020-11-17 16:06] bakkerthehacker commented on #49
set-env has now been disabled entirely and this action no longer works

[2020-11-17 16:40] vsoch commented on #49
A PR was actually merged about 30 minutes ago so this is no longer an issue, and now it's a release. https://github.com/vsoch/pull-request-action/releases/tag/1.0.12 Cheers!

[2020-11-17 16:40] #49 closed

[2020-12-07 09:51] AlekSi opened #55 "Please create `v1` tag or branch"
So people can depend on `vsoch/pull-request-action@v1`

https://docs.github.com/en/free-pro-team@latest/actions/creating-actions/about-actions#using-release-management-for-actions

[2020-12-07 15:57] vsoch commented on #55
We have releases for each version... can you clarify what you want?

[2020-12-07 16:02] AlekSi commented on #55
I want to be able to depend on `vsoch/pull-request-action@v1` instead of `@1.m.p` and update it with each patch release. Providing `v1` tag or branch is the recommended best practice. Please read the link.

[2020-12-07 16:08] vsoch commented on #55
I'm not sure I agree with this suggested practice (it's akin to a latest container, a moving target) but I'm happy to create a branch for you https://github.com/vsoch/pull-request-action/tree/v1. Cheers!

[2020-12-07 16:08] #55 closed

[2020-12-07 16:40] AlekSi commented on #55
Thank you. I too don't agree with that "floating" tag, but unfortunately, that's how most other actions work. If `v1` branch always points to the latest release / tag, it should work the same for GitHub Actions, and does not require force pushes.

Thank you again!

[2020-12-11 13:02] DavideViolante opened #56 "Action fails when no diff between branches"
It's normal that the action fails when there are no differences between the branches?
I'd expect a fail when the action should actually open the PR, but it doesn't.

The error I get is
[code]

That is not much clear about the reason of the failure.

[2020-12-11 17:23] vsoch commented on #56
This actually happened to me recently because I was trying to open a PR for a branch that didn't exist, and you're right, the message is a bit cryptic. Let me take a look and see if I can make it more verbose.

[2020-12-11 17:38] vsoch commented on #56
okay, I have a branch for you to test!

https://github.com/vsoch/pull-request-action/pull/57

If you can reproduce the issue above, that would be great! See the description in the PR for an explanation of changes. And let me know if/when it works, and show me a screenshot / link to the action to confirm.

[2020-12-12 11:30] DavideViolante commented on #56
Just tested it:
![vsochautopr](https://user-images.githubusercontent.com/6844116/101982633-a9a5fd00-3c75-11eb-925b-358d3851a68d.png)

The action still fails, but with a better message.
How can I make it pass in this case?

[2020-12-12 16:32] vsoch commented on #56
You don’t have any changed commits, so there is nothing to PR. You’d want to checkout a new branch, make changes, push, then use the action.

[2020-12-12 22:38] vsoch commented on #56
@DavideViolante if you get a chance, could you please review / approve the PR so that the default has this improved verbosity?

[2020-12-12 23:07] DavideViolante commented on #56
I know... but I'd expect that the action would not **fail** in this case. The action executed correctly, it checked that no PR is needed, and it finishes.
I run this on a cron basis, such as every monday. If there are no diff between 2 branches, I expect no PR, and no fail from the action (it worked correctly).

[2020-12-12 23:17] vsoch commented on #56
Ah I see, then I think you would want to set `PASS_ON_ERROR` (see the README).

[2020-12-18 11:02] DavideViolante commented on #56
Yeah it would be a solution, but I think **by default**, if the PR should not be created coz there are no diff, or coz it's already opened, there should be no fail for the action.

Thanks anyway, it's just my opinion, there is no right solution, it more UX perception than a bug.

[2020-12-18 11:02] #56 closed

[2020-12-19 00:33] vsoch commented on #56
hey @DavideViolante sorry I gave you the wrong environment variable! You can set `PASS_IF_EXISTS` to get the specific functionality you are looking for. It's not the default because different users would have different preferences. Hope that helps!

[2020-12-26 00:43] #50 closed

[2021-01-21 22:51] shaungrady opened #59 "If PR exists, update title and body"
In my workflow, the PR title and body are dynamically generated based on the commits contained within. I would love it if this action could update the title and body of the PR the PR is already found.

[2021-01-22 00:47] vsoch commented on #59
hey @shaungrady ! It looks like this is definitely possible: https://docs.github.com/en/rest/reference/pulls#update-a-pull-request. I'll try to take a look soon and see if I can add this. Likely I'd keep the default to still exit if the PR is open, but we could add a variable that you could use to specify wanting an update in this case. I'll definitely try to make some time in the next week or so

[2021-01-24 20:04] vsoch commented on #59
hey @shaungrady - here is a branch for you to test! https://github.com/vsoch/pull-request-action/pull/60 See in the description how it works - if you set `PULL_REQUEST_UPDATE` it will update the existing PR instead of exiting or otherwise ending. I also did some refactoring of the main function body to take advantage of sharing the functions for adding reviewers and assignees regardless of an upda

[2021-02-02 06:20] boyang1020 opened #61 "How to update labels ?"
Is it possible to add labels when the PR is being created？Thanks

[2021-02-04 00:10] shaungrady commented on #59
Sorry I haven't gotten back to you @vsoch, I ended up solving the issue by hand with `actions/github-script@v3` before you opened up your PR. Not sure when I'll have time to give it a test.

[2021-02-04 00:19] vsoch commented on #59
As long as you eventually do it (can you give me a sense of when?) there is definitely no rush! I did jump on doing this fix for you, so I hope that you could make some small amount of time in the future to test it - it's a fairly nice feature and I suspect others will appreciate having it, even if you found another solution.

[2021-02-04 00:34] shaungrady commented on #59
Don't get me wrong, I do appreciate your speed and responsiveness on this issue. I'll try to make some time this weekend.

[2021-02-04 00:36] vsoch commented on #59
Thank you! <3

[2021-02-13 00:42] #59 closed

[2021-02-15 16:33] i077 opened #64 "Variable `assignees` referenced before assignment"
I'm running the latest release of this action. See [this log](https://github.com/i077/system/runs/1904761591?check_suite_focus=true#step:8:69) for an example.

Maybe you forgot to pass in the `assignees` parameter in [line 323](https://github.com/vsoch/pull-request-action/blob/master/pull-request.py#L323)?

[2021-02-15 17:17] vsoch commented on #64
You're totally right - I'll get a PR in asap!

[2021-02-15 17:18] vsoch commented on #64
Here is a branch to test! As soon as you confirm it fixes the above, we can merge and release:

https://github.com/vsoch/pull-request-action/pull/65

Apologies for the oversight, and thank you for reporting the issue!

[2021-02-15 17:46] i077 commented on #64
Thanks for the quick response!

Uhh, quick question: how do I tell GitHub Actions to use a certain branch for the action?

[2021-02-15 17:47] i077 commented on #64
Welp, nvm. Found it [here](https://docs.github.com/en/actions/learn-github-actions/finding-and-customizing-actions):

[2021-02-15 17:48] vsoch commented on #64
When you are specifying the action name, instead of master or a version tag, just specify the branch. E.g.,:

[code]

You are too speedy for me! :)

[2021-02-15 17:50] i077 commented on #64
[Looks like that fixed it](https://github.com/i077/system/runs/1905322206?check_suite_focus=true)!

[2021-02-15 17:51] vsoch commented on #64
Woohoo! Let's get this released asap, thank so so much for catching the bug! I refactored the one major function into smaller ones and clearly just missed that.

[2021-02-15 17:51] #64 closed

[2021-03-17 12:33] raelriolinozup opened #66 "Error: The `set-env` command is disabled."
It seems that the outputs are triggering an error on my environment. The Pull Request is actually created, but the action fails when trying to set the outputs. Since i don´t have permission to change my repository config, is it possible to disable this outputs?

### Full error message:

Error: Unable to process command '::set-env name=PULL_REQUEST_NUMBER::4' successfully.
Error: The `set-env` comm

[2021-03-17 14:43] vsoch commented on #66
We only have that in older versions. What version are you using?

[2021-03-17 16:30] raelriolinozup commented on #66
I was using version 1.0.6.... But i ended up creating a custom script to post the pull request in node... As a sugestion, maybe it could be a good idea to have an option to toggle the output step for some one else that may face the same issue as mine. =)

[2021-03-17 16:40] vsoch commented on #66
That's an old version - the newer versions don't have this issue. https://github.com/vsoch/pull-request-action/releases/tag/1.0.15. The good idea is to use a more recent version. :)

[2021-03-26 22:17] flavio-fernandes commented on #66
I think a source for this confusion is because your examples / doc may still be referring to old versions.
Example (line 23 of README.md):

https://github.com/vsoch/pull-request-action/blob/7f0d383d15d48df0e5dc744596f4b9057f67e4c4/README.md#L23

Maybe a way to close this issue is to have them pointing to the latest release.
And THANK YOU for this awesome action!

[2021-03-26 22:31] vsoch commented on #66
That's a great idea! I'll update that to point to master, with a comment to use a specific release. Would that work?

[2021-03-26 22:47] vsoch commented on #66
See https://github.com/vsoch/pull-request-action/pull/67

[2021-04-10 19:52] #61 closed

[2021-04-19 01:40] mcbanderson opened #68 "Error when triggering via a Schedule event"
When using this Action in a workflow that is triggered by a Scheduled event (ie cron), there is an unhandled exception if `PULL_REQUEST_FROM_BRANCH` is not set.

**Error Message**
[code]

**How to reproduce**

[code]

I will be submitting a PR to resolve this issue momentarily.

[2021-04-19 01:53] #68 closed

[2021-04-19 01:59] vsoch commented on #66
I think this was resolved, closing issue. Thanks again!

[2021-04-19 01:59] #66 closed

[2021-05-04 23:26] vincentwongso opened #71 "Can we add option to add label on the PR?"
I think this will be very useful when creating PR and we want to label them as release, regression, testing, etc.

[2021-05-04 23:52] vsoch commented on #71
The idea of GitHub actions is to be modular - so why not just use https://github.com/actions-ecosystem/action-add-labels?

[2021-05-06 06:22] vincentwongso commented on #71
Ahh perfect, thank you for that.

[2021-05-06 06:22] #71 closed

[2021-05-19 18:44] crubier opened #72 "Allow to set labels to the created PR"
That would be cool. Ideally through a list of labels in the inputs or env of the Action

[2021-05-19 19:46] vsoch commented on #72
see https://github.com/vsoch/pull-request-action/issues/71

[2021-06-16 13:47] i077 opened #73 "Add an option to pass only if no commits between source and target"
I'm working on nix-community/home-manager#1934, which adds a GitHub workflow to update a lockfile and open (or update) a PR against the update using this action (thank you for this action!). One of the [concerns](https://github.com/nix-community/home-manager/pull/1934#discussion_r628121077) a reviewer raised was that I set `PASS_ON_ERROR`, which would mean that the step would pass for any arbitrar

[2021-06-16 14:45] vsoch commented on #73
I would add the logic in the step. I’m not sure parsing error messages would be a reliable thing to do over time if they change, etc.

[2021-06-17 22:10] dannysauer opened #74 "Use repo default branch instead of hard-coded "master""
https://github.com/vsoch/pull-request-action/blob/1cb1956a68e7d8b6bf693d41299467bb0f1b6a7a/pull-request.py#L347

It probably makes sense to use the relevant API call to fetch the default branch of a repo instead of hard-coding in "master" here.  Github [made the change](https://github.blog/changelog/2020-07-22-github-actions-better-support-for-alternative-default-branch-names/) last year, and the

[2021-06-17 22:16] vsoch commented on #74
That's a great idea! Yes, would gladly accept a PR for this update. Thank you @dannysauer !

[2021-06-18 14:50] i077 commented on #73
Fair enough, I'll close this then.

[2021-06-18 14:50] #73 closed

[2021-06-21 16:10] #74 closed

[2021-06-23 08:58] fbiville opened #76 "Allow to open PR in another repository"

[2021-06-23 10:37] vsoch commented on #76
You should be able to do this, but you’ll need to use a personal access token.

[2021-06-24 08:36] fbiville commented on #76
Thanks for your quick reply!
So if I've got repo A, branch X, I can already open PRs against repo B targeting branch Y?
How does the configuration look like in that case? I could not figure out.

[2021-06-24 09:53] sta-szek opened #77 "Allow to customize github url"
hi, i would like to use that action with private GHES, can we customize url? instead of github.com i would like to use mygithub.mysite.com

[2021-06-24 13:38] vsoch commented on #76
Use the environment variable PULL_REQUEST_REPOSITORY. Did you look at the README at all? https://github.com/vsoch/pull-request-action

[2021-06-24 13:45] vsoch commented on #77
Yes I can take a shot to develop that for you. Can you show me an example of another GitHub action that is setup to work with private GHES so I can become familiar?

[2021-06-24 15:30] falconmick commented on #71
@vsoch is it at all possible that we could get an example? Very fresh to GHA, in a perfect world I would love it if somhow I could chain the label add as the second job/step(?) inside the yml action file I made that creates my PR's... To take this even one step further, I had planned on using this with `pascalgn/automerge-action` so that when my `main` branch receives a push, it automatically crea

[2021-06-24 15:36] vsoch commented on #71
I haven't tested this, but you'd want to define another `step` that uses outputs to direct the label to the PR.
[code]
And the "test outputs" is just there to do exactly that - you can remove when it's working for you.

[2021-06-25 04:54] falconmick commented on #71
Awesome I’ll give this a go

[2021-06-25 06:32] falconmick opened #78 "AutoMerge via GraphQL mutation?"
Ahoy @vsoch  thought I would make a separate issue for this, less of an issue more of an idea.

Have you done any looking into enabling auto merge? Theoretically you could just manually form the GraphQL query and just use post like you currently are doing, basically it would be a more conviluted POST request with a weird body instead of a bog standard POST call like you already have. https://docs.

[2021-06-25 06:36] vsoch commented on #78
That’s a interesting idea. My personal opinion on the matter is that auto merge is something that can be enabled on the level of the repository, once, and should have thought put into that decision and not dictated by an automated action. From a functional standpoint, if someone wants auto merge they can enable it regardless of any particular workflow, and if they really just want to skip the PR a

[2021-06-25 11:16] falconmick commented on #78
Unless I’m wrong (wouldn’t be first time) the auto merge option just adds a new merge option on PR’s that will once clicked merge the PR after all checks complete. I’m yet to find a way to instruct GitHub to automatically merge prs without any interaction on my behalf. The linked mutation is equivalent to clicking that manual auto merge button that shows up when you’ve enabled the feature

[2021-06-28 12:16] fbiville commented on #76
Yes I did, and I tried it without success. But thanks for assuming otherwise.

Anyway, after reviewing GitHub API docs, I might be able to make it work with a combination of `PULL_REQUEST_FROM_BRANCH` (with the qualified branch name: `user:branch` and `PULL_REQUEST_REPOSITORY`.

This use case would be worth documenting in your README.

[2021-06-28 12:58] fbiville commented on #76
I managed to make it work 🥳

Here is the pipeline I set up on the source repo (`fbiville/commit-fwd-source-repo`):
[code]

This forwards every commit from the 4.3 branch of fbiville/commit-fwd-source-repo to the 4.3 branch of `fbiville-testing/commit-fwd-source-repo`.
Note that it required an explicit user-defined personal token for it to work

[2021-06-28 12:58] #76 closed

[2021-06-28 15:02] fbiville commented on #76
For consistency's sake, it might be worth adding a `PULL_REQUEST_FROM_USER_OR_ORG`, given there is already `PULL_REQUEST_FROM_BRANCH`? This would provide a better symmetry between the source and target repo/branch.

[2021-06-28 16:19] vsoch commented on #76
@fbiville you don’t get to dictate that - the token decides. I’m not sure I see your logic here.

[2021-06-29 09:39] fbiville commented on #76
What I'm trying to suggest is to allow both the current:
[code]
and the alternative:
[code]

My PAT does not limit me to only github.com/fbiville, or? I could push to repositories of other organizations I'm part of, or am I mistaken?

[2021-06-29 14:34] vsoch commented on #76
Ah I understand. That would only work if you trigger the workflow for any repository in an organization. How would you do that for one workflow?

[2021-06-30 09:12] fbiville commented on #76
I'm already doing this to sync https://github.com/fbiville/commit-fwd-source-repo (where the above configuration lives) and its fork https://github.com/fbiville-testing/commit-fwd-source-repo.

[2021-07-26 05:39] #72 closed

[2021-08-03 15:09] sta-szek commented on #77
sorry for long replay, i am not watching notifications as working on GHES.

example: https://github.com/CodelyTV/pr-size-labeler

[2021-08-03 17:14] vsoch commented on #77
okay here is a branch to test! https://github.com/vsoch/pull-request-action/pull/80 The branch is called `add/github-enterprise-url` that you can specify to use for the action, and the envar to set is `PULL_REQUEST_API_URL` which will default to https://api.github.com and can be set to a custom enterprise URL.

[2021-08-04 07:47] sta-szek commented on #77
unfortunately we cannot use this branch as we cannot use actions from public. we can use only synchronized-master branches.
i hope somebody else will be able to test it so it can be merged.
thanks for the effort @vsoch 👍 🙇

[2021-08-04 15:48] vsoch commented on #77
@sta-szek this is a fairly small change - if I merge to the master/main branch would you be able to test promptly? When you confirm working I'll do a release (and if not we can revert pretty easily).

[2021-08-31 22:33] #78 closed

[2021-10-04 13:01] #77 closed

[2022-02-02 10:52] webknjaz opened #83 "[BUG] Produced env vars are set incorrectly"
When logging the outputs I noticed that the subsequent step in my workflow contains new env vars populated like this:
[code]
_(copied from https://github.com/ansible/ansible-language-server/runs/4328672569?check_suite_focus=true#step:4:5)_

Looking at the source, I think that this like https://github.com/vsoch/pull-request-action/blob/d99aa3e/pull-request.py#L82 is at fault — I'm pretty sure it sh

[2022-02-03 12:59] #83 closed

[2022-05-13 05:14] hui1110 opened #86 "422 Unprocessable Entity on opening PR"
After creating a pull request, I added the variable `PASS_IF_EXISTS`, try to update the pull request, there will be the following print:

[code]

The variable  `PASS_IF_EXISTS` doesn't seem to work.

[2022-05-13 05:17] vsoch commented on #86
`PASS_IF_EXISTS` is only relevant if you already have the PR and want the test to pass: https://github.com/vsoch/pull-request-action/blob/e64deeba68463798e4438d116312934afcd2d74a/pull-request.py#L326-L328

The error you are linking is triggered up here: https://github.com/vsoch/pull-request-action/blob/e64deeba68463798e4438d116312934afcd2d74a/pull-request.py#L110-L112 and it suggests that the GitH

[2022-05-13 05:23] vsoch commented on #86
Also this line suggests you made it through that second part:

I'm suspicious about your title and body being empty (or a .) - I would try actually putting some content there. If that still doesn't work, try removing special characters from your branch name (I think I see a `:`)

[2022-05-16 07:59] hui1110 commented on #86
Thanks for your reply, this has been fixed. The parameter does not conform to the format of the GitHub API.

[2022-05-16 10:44] vsoch commented on #86
Sure thing! I've definitely hit this issue before too. If you are all set please feel free to close the issue.

[2022-05-17 05:48] #86 closed

[2022-09-22 06:23] ohenak opened #87 "find_default_branch getting 401 in Github Enterprise"
We are on Github Enterprise 3.3, when the `find_default_branch` is invoked,
It gets the following error:
[code]

It is because the initial `Get` request does not incorporate the token.
https://github.com/vsoch/pull-request-action/blob/master/pull-request.py#L239-L243
[code]

[2022-09-22 06:24] ohenak commented on #87
Do you prefer handling 404 and 401 in the if statement?
Or always include the headers from the first `Get` request?

[2022-09-22 06:25] vsoch commented on #87
Ah we can add that! Would you care to PR and bump the version?

[2022-09-22 10:00] vsoch commented on #87
Fixed by #88. Thank you!

[2022-09-22 10:00] #87 closed

[2022-11-23 18:05] yosmoc opened #91 "Version 1.0.22 doesn't set output parameter"
## Problem

[Outputs parameters](https://github.com/vsoch/pull-request-action#outputs) are not set in Version `1.0.22`. It works in `1.0.21`.

I use [output-example.yml](https://github.com/vsoch/pull-request-action/blob/master/examples/outputs-example.yml) with `1.0.21` and `1.0.22`.

![image](https://user-images.githubusercontent.com/9694/203617658-b78ef867-b82a-4ef2-bfb6-1cd88e5e5ede.png)

I can

[2022-11-23 21:02] #91 closed